@font-face {
  font-family: "icons";
  src: url("../fonts-icon/icons.eot?mkldqm");
  src: url("../fonts-icon/icons.eot?mkldqm#iefix") format("embedded-opentype"),
    url("../fonts-icon/icons.ttf?mkldqm") format("truetype"),
    url("../fonts-icon/icons.woff?mkldqm") format("woff"),
    url("../fonts-icon/icons.svg?mkldqm#icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"]::before,
[class*=" _icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-beds:before {
  content: "\e900";
}
._icon-komod:before {
  content: "\e901";
}
._icon-kuhni:before {
  content: "\e902";
}
._icon-lizhka:before {
  content: "\e903";
}
._icon-mm:before {
  content: "\e904";
}
._icon-mstiny:before {
  content: "\e905";
}
._icon-shafa:before {
  content: "\e906";
}
._icon-stilci:before {
  content: "\e907";
}
._icon-stol:before {
  content: "\e908";
}
._icon-tumba:before {
  content: "\e909";
}
._icon-viber:before {
  content: "\e90a";
}
._icon-twitter:before {
  content: "\e90b";
}
._icon-mastercard:before {
  content: "\e90c";
}
._icon-menu-catalog:before {
  content: "\e90d";
}
._icon-title:before {
  content: "\e90e";
}
._icon-call:before {
  content: "\e90f";
}
._icon-arrow-down:before {
  content: "\e910";
}
._icon-likes:before {
  content: "\e911";
}
._icon-basket:before {
  content: "\e912";
}
._icon-star:before {
  content: "\e913";
}
._icon-percent:before {
  content: "\e914";
}
._icon-credit:before {
  content: "\e915";
}
._icon-positon:before {
  content: "\e916";
}
._icon-calendar:before {
  content: "\e917";
}
._icon-search:before {
  content: "\e918";
}
._icon-visa:before {
  content: "\e919";
}
