.footer {
  // .footer__wrapper

  &__wrapper {
    background-color: $mainColor;
    color: $white;
  }

  // .footer__container

  &__container {
    padding: toRem(40) 0;
    @media (max-width: toEm(1100)) {
      padding: toRem(15) 0;
    }
    @media (max-width: toEm(991.98)) {
      padding: toRem(40) 0;
    }
  }

  // .footer__row

  &__row {
    display: flex;
    gap: toRem(83);
    @media (max-width: toEm(1280)) {
      gap: toRem(20);
    }
  }

  // .footer__socials

  &__socials {
  }

  // .footer__info

  &__info {
    flex: 1 0 auto;
  }

  // .footer__adress

  &__adress {
  }

  // .footer__notice

  &__notice {
  }
}
.footer-socials {
  // .footer-socials__row

  &__row {
    display: flex;
    flex-direction: column;
    gap: toRem(40);
    @media (max-width: toEm(991.98)) {
      gap: toRem(30);
      align-items: center;
    }
  }

  // .footer-socials__logo

  &__logo {
    max-width: toRem(250);
    & > img {
      width: 100%;
      object-fit: contain;
    }
    @media (max-width: toEm(991.98)) {
      display: block;
      margin: 0 auto;
      margin-bottom: toRem(40);
    }
  }

  // .footer-socials__socials

  &__socials {
    margin-bottom: toRem(-10);
    display: flex;
    flex-direction: column;
    gap: toRem(10);
  }

  // .footer-socials__chatbot

  &__chatbot {
    display: flex;
    flex-direction: column;
    gap: toRem(10);
  }

  // .footer-socials__card

  &__card {
    display: flex;
    gap: toRem(20);
  }
}
.footer-socials-socials {
  // .footer-socials-socials__text

  &__text {
    font-size: toRem(17);
    line-height: 1.5; /* 24/16 */
  }

  // .footer-socials-socials__socials

  &__socials {
    display: flex;
    align-items: center;
    gap: toRem(15);
  }

  // .footer-socials-socials__facebook

  &__facebook {
    width: 40px;
    height: 40px;
    background-color: $white;
    border-radius: 50%;
    & > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  // .footer-socials-socials__instagram

  &__instagram {
    width: 40px;
    height: 40px;
    background-color: $white;
    border-radius: 50%;
    & > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
.footer-socials-chatbot {
  // .footer-socials-chatbot__text

  &__text {
    font-size: toRem(17);
    line-height: 1.5; /* 24/16 */
  }

  // .footer-socials-chatbot__socials

  &__socials {
    display: flex;
    align-items: center;
    gap: toRem(15);
    @media (max-width: toEm(991.98)) {
      justify-content: center;
    }
  }
  // .footer-socials-chatbot__twit

  &__twit {
    width: 40px;
    height: 40px;
    background-color: #75b73b;
    border-radius: 50%;
    position: relative;
    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: toRem(23);
    }
  }

  // .footer-socials-chatbot__telegram

  &__telegram {
    width: 40px;
    height: 40px;
    & > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  // .footer-socials-chatbot__viber

  &__viber {
    width: 40px;
    height: 40px;
    background-color: #6f3faa;
    border-radius: 50%;
    position: relative;
    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: toRem(23);
    }
  }
}

.footer-socials-card {
  // .footer-socials-card__visa

  &__visa {
    font-size: toRem(30);
  }

  // .footer-socials-card__mastercard

  &__mastercard {
    font-size: toRem(30);
  }
}

.footer-info {
  // .footer-info__wrapper

  &__wrapper {
  }
}

.wrapper-info-footer {
  // .wrapper-info-footer__row

  &__row {
    display: flex;
    justify-content: space-between;
    gap: toRem(15);
    @media (max-width: toEm(991.98)) {
      flex-direction: column;
      justify-content: stretch;
      text-align: center;
      gap: toRem(0);
      margin-bottom: toRem(40);
    }
  }

  // .wrapper-info-footer__block

  &__block {
    @media (max-width: toEm(991.98)) {
      position: relative;
      &:not(:last-child) {
        margin-bottom: toRem(5);
      }
    }
  }

  // .wrapper-info-footer__title

  &__title {
    font-weight: 600;
    font-size: toRem(20);

    line-height: 1.75; /* 28/16 */
    &::before {
      display: none;
    }
    @media (max-width: toEm(991.98)) {
      padding: toRem(11) 0;
      background-color: #1a1a1a;
      width: calc(100% + toRem(30));
      margin-left: toRem(-15);
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      align-items: center;
      gap: toRem(26);
      &::before {
        display: block;
        font-size: toRem(10);
      }
      &.active {
        &::before {
          transition: 0.3s;
          transform: rotate(180deg);
        }
      }
    }
  }

  // .wrapper-info-footer__list

  &__list {
    @media (max-width: toEm(991.98)) {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-10px);
      max-height: 0;
      overflow: hidden;
      transition: opacity 0.5s ease, visibility 0.5s ease, transform 0.5s ease,
        max-height 0.5s ease-out;
      &.active {
        display: flex;
        flex-direction: column;
        gap: toRem(20);
        padding: toRem(20) 0;
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        max-height: 1000px;
      }
    }
  }

  // .wrapper-info-footer__item

  &__item {
  }

  // .wrapper-info-footer__link

  &__link {
    font-size: toRem(17);
    line-height: 1.5; /* 24/16 */
  }
}
.footer-adress {
  max-width: toRem(240);
  display: flex;
  flex-direction: column;
  gap: toRem(30);
  @media (max-width: toEm(1100)) {
    max-width: none;
    flex-direction: row;
    justify-content: space-between;
    gap: toRem(15);
    & > * {
      max-width: toRem(240);
    }
  }
  @media (max-width: toEm(991.98)) {
    flex-direction: column;
    align-items: center;
    text-align: center;
    & > * {
      max-width: toRem(175);
    }
  }
  // .footer-adress__number

  &__number {
    padding-left: toRem(65);
    @media (max-width: toEm(991.98)) {
      padding-left: 0;
    }
  }

  // .footer-adress__adress

  &__adress {
  }

  // .footer-adress__working

  &__working {
  }
}
.footer-adress-number {
  position: relative;

  // .footer-adress-number__numbers

  &__numbers {
    font-size: toRem(20);
    font-weight: 600;
    line-height: 1.75; /* 28/16 */
    &::before {
      position: absolute;
      left: toRem(0);
      top: 0;
      font-size: toRem(20);
      color: $lightGreyColor;
      border: toRem(1) solid $greyColor;
      border-radius: 50%;
      padding: toRem(15);
    }
    @media (max-width: toEm(991.98)) {
      &::before {
        display: none;
      }
    }
  }

  // .footer-adress-number__number

  &__number {
  }

  // .footer-adress-number__text

  &__text {
    color: $yellowColor;
  }
}
.footer-adress-adress {
  // .footer-adress-adress__text

  &__text {
    position: relative;
    font-size: toRem(20);
    font-weight: 600;
    line-height: 1.75; /* 28/16 */
    padding-left: toRem(65);
    &::before {
      position: absolute;
      left: toRem(0);
      top: 0;
      font-size: toRem(20);
      color: $lightGreyColor;
      border: toRem(1) solid $greyColor;
      border-radius: 50%;
      padding: toRem(15);
    }
    @media (max-width: toEm(991.98)) {
      padding-left: 0;
      &::before {
        display: none;
      }
    }
  }
}
.footer-adress-working {
  // .footer-adress-working__text

  &__text {
    position: relative;
    font-size: toRem(20);
    line-height: 1.75; /* 28/16 */
    padding-left: toRem(65);

    &::before {
      position: absolute;
      left: toRem(0);
      top: 0;
      font-size: toRem(20);
      color: $lightGreyColor;
      border: toRem(1) solid $greyColor;
      border-radius: 50%;
      padding: toRem(15);
    }
    @media (max-width: toEm(991.98)) {
      padding-left: 0;
      &::before {
        display: none;
      }
    }
  }
}
.footer-notice {
  // .footer-notice__border

  &__border {
    width: 100%;
    height: toRem(1);
    background-color: $greyColor;
  }

  // .footer-notice__info-text

  &__info-text {
    text-align: center;
    color: $lightGreyColor;
    font-weight: 300;
    padding: toRem(20) 0;
  }
}
