.top {
  // .top__container

  &__container {
    overflow: hidden;
    padding-top: toRem(30);
    padding-bottom: toRem(70);
    @media (max-width: toEm(767.98)) {
      padding-top: toRem(40);
      padding-bottom: toRem(60);
    }
  }

  // .top__swiper

  &__swiper {
  }

  // .top__swiper-wrapper

  &__swiper-wrapper {
  }

  // .top__swiper-slide

  &__swiper-slide {
    width: 100%;
    max-width: toRem(1290);
    height: auto;
    position: relative;
    border-radius: toRem(8);
    @media (max-width: toEm(991.98)) {
      max-width: 100%;
    }
    @media (max-width: toEm(767.98)) {
      text-align: center;
    }
    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      @media (max-width: toEm(767.98)) {
        max-height: toRem(600);
        max-width: 100%;
        object-fit: contain;
      }
    }
  }

  // .top__swiper-pagination

  &__swiper-pagination {
    display: flex;
    gap: 10px;
    position: absolute;
    justify-content: center;
    bottom: toRem(20);
    & span {
      width: toRem(15);
      height: toRem(15);
      border-radius: 50%;
      background-color: $white;
      opacity: 1;
      z-index: 2;
    }
    .swiper-pagination-bullet-active {
      border: toRem(3) solid white;
      background-color: $yellowColor;
    }
  }

  // .top__swiper-button-prev

  &__swiper-button-prev {
    width: toRem(60);
    height: toRem(60);
    position: absolute;
    border-radius: 50%;
    background-color: $white;
    top: 50%;
    transform: translateY(-50%);
    left: toRem(20);
    z-index: 2;
    &::before {
      color: $yellowColor;
      transform: rotate(90deg);
      font-size: toRem(15);
    }
    @media (max-width: toEm(767.98)) {
      opacity: 0;
    }
  }

  // .top__swiper-button-next

  &__swiper-button-next {
    width: toRem(60);
    height: toRem(60);
    position: absolute;
    border-radius: 50%;
    background-color: $white;
    top: 50%;
    transform: translateY(-50%);
    right: toRem(20);
    z-index: 2;
    &::before {
      color: $yellowColor;
      transform: rotate(-90deg);
      font-size: toRem(15);
    }
    @media (max-width: toEm(767.98)) {
      opacity: 0;
    }
  }
}

//=================categorys=======================
.categorys {
  // .categorys__container

  &__container {
    padding-bottom: toRem(70);
  }

  //categorys__title

  &__title {
    font-weight: 600;
    font-size: toRem(40);
    margin-bottom: toRem(40);
    transition: all 0.3s;
    &:hover {
      transform: scale(1.01);
    }
    @media (max-width: toEm(991.98)) {
      font-size: toRem(30);
    }
  }

  // .categorys__grid

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(toRem(250), 1fr));
    row-gap: toRem(24);
    column-gap: toRem(10);
    @media (max-width: toEm(767.98)) {
      grid-template-columns: repeat(auto-fit, minmax(toRem(180), 1fr));
    }
  }

  // .categorys__card

  &__card {
  }
}
.card-category {
  background-color: $white;
  border-radius: toRem(8);
  position: relative;
  overflow: hidden;
  box-shadow: -3px 4px 15px 0px #0000000f;
  transition: all 0.3s;
  @media (any-hover: hover) {
    &:hover {
      transform: scale(1.02);
      .card-category__more-arrow {
        transform: scale(1.2) translate(toRem(4), toRem(-4));
      }
    }
  }
  // .card-category__top

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: toRem(20) toRem(20) 0 toRem(20);
  }

  // .card-category__image

  &__image {
    margin-top: toRem(-40);
    &::before {
      content: "";
      position: absolute;
      top: 37%;
      left: 50%;
      transform: translateX(-50%);
      width: 400px;
      aspect-ratio: 1/1;
      border-radius: 50%;
      background-color: $lightColor;
      z-index: 1;
    }
    & > img {
      position: relative;
      z-index: 2;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  // .card-category__more-arrow

  &__more-arrow {
    position: absolute;
    bottom: toRem(20);
    right: toRem(20);
    z-index: 2;
    width: toRem(50);
    height: toRem(50);
    border-radius: 50%;
    border: toRem(2) solid $yellowColor;
    transition: all 0.3s;

    &::before {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: toRem(21);
      color: $yellowColor;
      transition: all 0.3s;
      &:hover {
        transform: scale(1.2) translate(toRem(3), toRem(-3));
      }
    }
    @media (max-width: toEm(767.98)) {
      width: toRem(40);
      height: toRem(40);
    }
  }
}
.card-category-top {
  // .card-category-top__title

  &__title {
    font-weight: 600;
    font-size: toRem(20);
    @media (max-width: toEm(767.98)) {
      font-size: toRem(19);
    }
  }

  // .card-category-top__num

  &__num {
    font-weight: 600;
    font-size: toRem(20);
    color: $lightGreyColor;
    @media (max-width: toEm(767.98)) {
      font-size: toRem(19);
    }
  }
}
//===============popular=====================
.popular {
  // .popular__continer

  &__container {
    padding-bottom: toRem(80);
    @media (max-width: toEm(767.98)) {
      padding-bottom: toRem(60);
    }
  }

  // .popular__title

  &__title {
  }

  // .popular__grid

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(toRem(300), 1fr));
    gap: toRem(30);

    @media (max-width: toEm(991.98)) {
      grid-template-columns: repeat(auto-fill, minmax(toRem(250), 1fr));
    }
    @media (max-width: toEm(767.98)) {
      padding-bottom: toRem(30);
    }
  }

  // .popular__card

  &__card {
  }

  // .categorys__more

  &__more {
    display: none;
    @media (max-width: toEm(767.98)) {
      display: block;

      text-align: center;
      width: 100%;
      background-color: $yellowColor;
      padding: toRem(13) toRem(15);
      border-radius: toRem(8);
      font-size: toRem(19);
      font-weight: 600;
      line-height: 1.5; /* 24/16 */
      color: $white;
      &::before {
        font-size: toRem(20);
        margin-right: toRem(17);
        position: relative;
        top: toRem(2);
      }
    }
  }
}
.title-popular {
  display: flex;
  align-items: center;
  gap: toRem(30);
  margin-bottom: toRem(40);
  // .title-popular__title

  &__title {
    font-weight: 600;
    font-size: toRem(40);
    @media (max-width: toEm(991.98)) {
      font-size: toRem(30);
    }
  }

  // .title-popular__text

  &__text {
    display: flex;
    flex-direction: row-reverse;
    gap: toRem(16);
    font-weight: 600;
    font-size: toRem(19);
    color: $yellowColor;
    transition: all 0.3s;

    &::before {
      font-size: toRem(19);
      color: $yellowColor;
      transition: all 0.3s;
    }
    @media (max-width: toEm(767.98)) {
      display: none;
    }
    &:hover {
      &::before {
        transform: translate(toRem(3), toRem(-3));
      }
    }
    &:hover {
      transform: scale(1.05);
    }
  }
}

.card-popular {
  padding: toRem(20);
  box-shadow: -3px 4px 15px 0px #0000000f;
  border-radius: toRem(8);
  display: flex;
  flex-direction: column;
  gap: toRem(10);
  background-color: $white;
  transition: all 0.3s;
  @media (any-hover: hover) {
    &:hover {
      transform: scale(1.02);
    }
  }
  // .card-popular__image

  &__image {
    margin-bottom: toRem(10);
    width: 100%;

    & > img {
      border-radius: toRem(8);
      width: 100%;
      height: auto;
      max-height: toRem(220);
      object-fit: cover;
    }
  }

  // .card-popular__parameters

  &__parameters {
    font-weight: 300;
    font-size: toRem(13);
    line-height: 1.375; /* 22/16 */
    color: $greyColor;
    @media (max-width: toEm(767.98)) {
      font-size: toRem(15);
    }
  }

  // .card-popular__title

  &__title {
    font-weight: 600;
    font-size: toRem(19);
    line-height: 1.5; /* 24/16 */
    flex: 1 1 auto;
    @media (max-width: toEm(767.98)) {
      font-size: toRem(20);
    }
  }

  // .card-popular__in-stoсk

  &__in-stoсk {
    margin-bottom: toRem(10);
    font-weight: 300;
    font-size: toRem(13);
    line-height: 1.375; /* 22/16 */
    color: $greyColor;
    display: flex;
    align-items: center;
    gap: toRem(7);
    &::before {
      margin-top: toRem(-2);
      color: $colorGreen;
      font-size: toRem(20);
    }
  }

  // .card-popular__buy

  &__buy {
  }
}
.card-popular-buy {
  display: flex;
  align-items: center;
  gap: toRem(10);
  // .card-popular-buy__price

  &__price {
    flex: 1 1 auto;
  }

  // .card-popular-buy__likes

  &__likes {
    width: toRem(50);
    height: toRem(50);
    background-color: $lightColor;
    border-radius: 50%;
    position: relative;
    &::before {
      color: $lightGreyColor;
      font-size: toRem(26);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  // .card-popular-buy__basket

  &__basket {
    width: toRem(50);
    height: toRem(50);
    background-color: $yellowColor;
    border-radius: 50%;
    position: relative;
    &::before {
      color: $white;
      font-size: toRem(26);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
.card-price {
  // .card-price__sale

  &__sale {
    text-decoration: line-through;
    color: $colorRed;
    font-size: toRem(15);
    line-height: 1.375; /* 22/16 */
  }

  // .card-price__price

  &__price {
    font-size: toRem(20);
    line-height: 1.75; /* 28/16 */
    font-weight: 600;
    @media (max-width: toEm(767.98)) {
      font-size: toRem(26);
    }
  }
}
//=======================shares-swiper============

.shares {
  // .shares__container

  &__container {
    padding-bottom: toRem(70);
    @media (max-width: toEm(767.98)) {
      padding-bottom: toRem(60);
    }
  }

  // .shares__control

  &__control {
    margin-bottom: toRem(40);
  }

  // .shares__swiper-button-prev

  &__swiper-button-prev {
    width: toRem(60);
    height: toRem(60);
    border-radius: 50%;
    background-color: $white;
    position: relative;
    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      color: $yellowColor;
      font-size: toRem(20);
      transform: rotate(90deg) translate(-40%, 75%);
    }
    @media (max-width: toEm(767.98)) {
      display: none !important;
    }
  }

  // .shares__swiper-button-next

  &__swiper-button-next {
    width: toRem(60);
    height: toRem(60);
    border-radius: 50%;
    background-color: $white;
    position: relative;
    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      color: $yellowColor;
      font-size: toRem(20);
      transform: rotate(-90deg) translate(35%, -50%);
    }
    @media (max-width: toEm(767.98)) {
      display: none !important;
    }
  }

  // .shares__swiper

  &__swiper {
    @media (max-width: toEm(767.98)) {
      position: relative;
      padding-bottom: toRem(35) !important;
    }
  }

  // .shares__swiper-wrapper

  &__swiper-wrapper {
  }

  // .shares__swiper-pagination
  &__swiper-pagination {
    display: none !important;
    @media (max-width: toEm(767.98)) {
      display: flex !important;
      gap: 10px;
      position: absolute;
      justify-content: center;
      bottom: toRem(0) !important;
      z-index: 2;
      & span {
        width: toRem(15);
        height: toRem(15);
        border-radius: 50%;
        background-color: $white;
        border: toRem(3) solid $lightGreyColor;

        opacity: 1;
        z-index: 2;
      }
      .swiper-pagination-bullet-active {
        border: toRem(3) solid $white;
        background-color: $yellowColor;
      }
    }
  }
  // .shares__swiper-slide

  &__swiper-slide {
    width: 100%;
    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.3s;
      &:hover {
        transform: scale(1.02);
      }
    }
  }

  // .shares__image

  &__image {
    border-radius: toRem(8);
  }
}
.shares-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // .shares-control__title

  &__title {
    display: flex;
    align-items: center;
    gap: toRem(30);
    @media (max-width: toEm(767.98)) {
      justify-content: space-between;
      width: 100%;
    }
  }

  // .shares-control__buttons

  &__buttons {
    display: flex;
    align-items: center;
    gap: toRem(20);
  }
}
.shares-title {
  //.shares-title__title

  &__title {
    font-weight: 600;
    font-size: toRem(40);
    @media (max-width: toEm(991.98)) {
      font-size: toRem(30);
    }
  }

  // .shares-title__text

  &__text {
    display: flex;
    flex-direction: row-reverse;
    gap: toRem(16);
    font-weight: 600;
    font-size: toRem(19);
    color: $yellowColor;
    transition: all 0.3s;
    &::before {
      font-size: toRem(19);
      color: $yellowColor;
      transition: all 0.3s;
    }

    &:hover {
      &::before {
        transform: translate(toRem(3), toRem(-3));
      }
    }
    &:hover {
      transform: scale(1.05);
    }
  }
}
//========================reviews=================
.reviews {
  // .reviews__wrapper

  &__wrapper {
    background-color: #e9e9e9;
  }

  // .reviews__container

  &__container {
    margin-bottom: toRem(70);
    padding-top: toRem(70);
    padding-bottom: toRem(78);
    position: relative;
  }

  // .reviews__shop

  &__shop {
    position: absolute;
    top: 0;
    padding-top: toRem(70);
    left: 0;
    background-color: #e9e9e9;
    z-index: 2;
    padding-left: toRem(15);
    height: 100%;
    &::before {
      content: "";
      position: absolute;
      left: -1000px;
      top: 0;
      width: 1000px;
      background-color: #e9e9e9;
      height: 100%;
    }
    @media (max-width: toEm(991.98)) {
      position: relative;
      padding-top: 0;
      padding-bottom: toRem(30);
      margin: 0 auto;
      &::before {
        display: none;
      }
    }
  }

  // .reviews__slider

  &__slider {
    margin-left: toRem(480);
    @media (max-width: toEm(1050)) {
      margin-left: toRem(430);
    }
    @media (max-width: toEm(991.98)) {
      margin-left: 0;
    }
  }
}
.shop-reviews {
  display: flex;
  flex-direction: column;
  gap: toRem(40);
  @media (max-width: toEm(1050)) {
    max-width: toRem(370);
  }
  // .shop-reviews__title

  &__title {
    font-size: toRem(40);
    font-weight: 600;
    line-height: 1.2;
  }

  // .shop-reviews__section

  &__section {
  }

  // .shop-reviews__buttons

  &__buttons {
  }
}
.section-shop-reviews {
  position: relative;
  padding-left: toRem(80);
  max-width: toRem(410);
  @media (max-width: toEm(767.98)) {
    // max-width: toRem(320);
  }
  // .section-shop-reviews__logo

  &__logo {
    position: absolute;
    left: 0;
    top: 0;
    width: toRem(50);
    height: toRem(50);
    background-color: white;
    border-radius: 50%;
    &::before {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: toRem(32);
      color: $yellowColor;
    }
  }

  // .section-shop-reviews__title

  &__title {
    font-size: toRem(20);
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: toRem(10);
  }

  // .section-shop-reviews__scores

  &__scores {
  }

  // .section-shop-reviews__info

  &__info {
    font-size: toRem(13);
    line-height: 1.2;
    font-weight: 300;
    color: $greyColor;
  }
}

.scores-section-reviews {
  display: flex;
  align-items: center;
  gap: toRem(12);
  color: $yellowColor;
  // .scores-section-reviews__score

  &__score {
    transition: all 0.3s;
    &:hover {
      transform: scale(1.3);
      cursor: pointer;
    }
  }

  // .scores-section-reviews__star

  &__stars {
    display: flex;
    align-items: center;
    gap: toRem(4);
    font-size: toRem(20);
    & > * {
      transition: all 0.3s;
      &:hover {
        transform: scale(1.3);
        cursor: pointer;
      }
    }
  }
}
.buttons-shop-reviews {
  display: flex;
  align-items: center;
  gap: toRem(17);
  font-size: toRem(19);
  font-weight: 600;
  line-height: 1.2;
  // .buttons-shop-reviews__message

  &__message {
    color: white;
    background-color: $yellowColor;
    padding: toRem(13);
    border-radius: toRem(8);
    display: flex;
    align-items: center;
    gap: toRem(13);
    &::before {
      font-size: toRem(24);
    }
    transition: all 0.3s;
    &:hover {
      transform: scale(1.05);
      cursor: pointer;
    }
  }

  // .buttons-shop-reviews__reviews

  &__reviews {
    padding: toRem(13);
    display: flex;
    align-items: center;
    gap: toRem(13);
    &::before {
      font-size: toRem(24);
    }
    transition: all 0.3s;
    &:hover {
      transform: scale(1.05);
      cursor: pointer;
    }
  }
}
.slider-reviews {
  // .slider-reviews__swiper

  &__swiper {
    overflow: visible;
    margin-bottom: toRem(40);
    touch-action: auto;
  }

  // .slider-reviews__swiper-wrapper

  &__swiper-wrapper {
    padding: toRem(15) 0;
    margin: toRem(-15) 0;
  }

  // .slider-reviews__swiper-slide

  &__swiper-slide {
    flex: 1 1 toRem(450);
  }

  // .slider-reviews__swiper-pagination

  &__swiper-pagination {
    display: none;
    @media (max-width: toEm(500)) {
      display: flex;
      gap: 10px;
      position: absolute;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      bottom: toRem(-30) !important;
      z-index: 2;
      & > span {
        width: toRem(15);
        height: toRem(15);
        border-radius: 50%;
        background-color: #ffffff;
        border: toRem(3) solid #b1b1b1;
        opacity: 1;
        z-index: 2;
      }
      & .swiper-pagination-bullet-active {
        border: toRem(3) solid #ffffff;
        background-color: #ffbc57;
      }
    }
  }

  // .slider-reviews__swiper-scrollbar

  &__swiper-scrollbar {
    // display: block !important;
  }
}

//======================
.reviews-slider-scroll {
  width: 100%;
  height: toRem(6);
  background-color: #e3e2e2;
  position: relative;
  @media (max-width: toEm(500)) {
    display: none;
  }
}
.reviews-slider-scroll-image {
  cursor: grab;
  flex: 0 0 toRem(60);
  background-color: white;
  width: toRem(60) !important;
  height: toRem(60);
  border-radius: 50%;
  position: absolute;
  top: toRem(-27);
  & > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: toRem(24);
    height: toRem(24);
  }
}
//======================
.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
}
.coments {
  width: toRem(450);
  height: toRem(370);
  padding: toRem(30);
  background-color: $white;
  border-radius: toRem(8);
  box-shadow: toRem(-3) toRem(4) toRem(15) 0 rgba(0, 0, 0, 0.06);
  @media (max-width: toEm(500)) {
    width: 100%;
    height: auto;
    padding: toRem(10);
  }
  // .coments__row

  &__row {
    display: flex;
    flex-direction: column;
    gap: toRem(30);
  }

  // .coments__info

  &__info {
  }

  // .coments__text

  &__text {
    max-height: toRem(150);
    overflow-y: auto;
    padding-right: toRem(10);
    line-height: 1.8;
  }

  // .coments__product

  &__product {
  }
}
.info-coments {
  display: flex;
  align-items: center;
  gap: toRem(30);
  @media (max-width: toEm(500)) {
    gap: toRem(10);
  }
  // .info-coments__icon

  &__icon {
    flex-shrink: 0;
    width: toRem(50);
    height: toRem(50);
    border-radius: 50%;
    border: toRem(1) solid $yellowColor;
    position: relative;
    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: toRem(18);
      color: $greyColor;
    }
  }

  // .info-coments__user

  &__user {
    flex: 1 1 auto;
  }

  // .info-coments__user-name

  &__user-name {
    font-size: toRem(17);
    line-height: 1.2;
  }

  // .info-coments__user-stars

  &__user-stars {
    display: flex;
    align-items: center;
    gap: toRem(4);
  }

  // .info-coments__user-star

  &__user-star {
    &::before {
      font-size: toRem(20);
      color: $yellowColor;
    }
  }

  // .info-coments__date

  &__date {
    line-height: 1.2;
    color: $greyColor;
    font-size: toRem(17);
  }
}
.product-coments {
  display: flex;
  align-items: center;
  gap: toRem(10);
  // .product-coments__image

  &__image {
    flex-shrink: 0;
    width: toRem(50);
    height: toRem(50);
    & > img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  // .product-coments__title-product

  &__title-product {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 600;
    font-size: toRem(20);
    line-height: 1.75; /* 28/16 */
  }
}

//========================blogs=================

.blogs {
  // .blogs__container

  &__container {
    padding-bottom: toRem(70);
    @media (max-width: toEm(767.98)) {
      padding-bottom: toRem(60);
    }
  }

  // .blogs__control

  &__control {
  }

  // .blogs__swiper-button-prev

  &__swiper-button-prev {
    width: toRem(60);
    height: toRem(60);
    border-radius: 50%;
    background-color: $white;
    position: relative;
    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      color: $yellowColor;
      font-size: toRem(20);
      transform: rotate(90deg) translate(-40%, 75%);
    }
    @media (max-width: toEm(767.98)) {
      display: none !important;
    }
  }

  // .blogs__swiper-button-next

  &__swiper-button-next {
    width: toRem(60);
    height: toRem(60);
    border-radius: 50%;
    background-color: $white;
    position: relative;
    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      color: $yellowColor;
      font-size: toRem(20);
      transform: rotate(-90deg) translate(35%, -50%);
    }
    @media (max-width: toEm(767.98)) {
      display: none !important;
    }
  }

  // .blogs__swiper

  &__swiper {
  }

  // .blogs__swiper-wrapper

  &__swiper-wrapper {
  }

  // .blogs__swiper-slide

  &__swiper-slide {
  }

  // .blogs__wrapper

  &__wrapper {
    display: flex;
    flex-direction: column;
    border-radius: toRem(8);
    background-color: white;
    overflow: hidden;
    gap: toRem(30);
    min-height: toRem(476);
    align-items: start;
    box-shadow: -3px 4px 15px 0px rgba(0, 0, 0, 0.0588235294);
    @media (max-width: toEm(550)) {
      min-height: toRem(500);
    }
    @media (max-width: toEm(460)) {
      min-height: toRem(450);
    }
    transition: all 0.3s;
    &:hover {
      transform: scale(1.02);
    }
  }

  // .blogs__image

  &__image {
    width: 100%;
    // max-height: toRem(300);
    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  // .blogs__title

  &__title {
    font-size: toRem(26);
    font-weight: 600;
    line-height: 1.3; /* 34/16 */
    padding: 0 toRem(30);
    flex: 1 1 auto;
  }

  // .blogs__tdetails

  &__tdetails {
    display: flex;
    flex-direction: row-reverse;
    padding: 0 toRem(30) toRem(20) toRem(30);
    color: $yellowColor;
    gap: toRem(16);
    font-weight: 600;
    font-size: toRem(19);
    transition: all 0.3s;
    &::before {
      font-size: toRem(19);
      color: $yellowColor;
      transition: all 0.3s;
    }
    &:hover {
      &::before {
        transform: translate(toRem(3), toRem(-3));
      }
    }
    &:hover {
      transform: scale(1.02);
    }
  }
  &__after-swiper {
    display: none;
    //==========================================
    @media (max-width: toEm(550)) {
      display: block;
      & > *:not(:last-child) {
        margin-bottom: toRem(30);
      }
    }
  }
}
.blogs-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: toRem(34);
  // .blogs-control__title

  &__title {
    display: flex;
    align-items: center;
    gap: toRem(30);
  }

  // .blogs-control__buttons

  &__buttons {
    display: flex;
    align-items: center;
    gap: toRem(20);
  }
}
.blogs-title {
  // .blogs-title__title

  &__title {
    font-weight: 600;
    font-size: toRem(40);
    @media (max-width: toEm(991.98)) {
      font-size: toRem(30);
    }
  }

  // .blogs-title__text

  &__text {
    display: flex;
    flex-direction: row-reverse;
    gap: toRem(16);
    font-weight: 600;
    font-size: toRem(19);
    color: $yellowColor;
    transition: all 0.3s;
    &::before {
      font-size: toRem(19);
      color: $yellowColor;
      transition: all 0.3s;
    }

    &:hover {
      &::before {
        transform: translate(toRem(3), toRem(-3));
      }
    }
    &:hover {
      transform: scale(1.05);
    }
    @media (max-width: toEm(550)) {
      flex-direction: row;
      padding: toRem(13);
      background-color: $yellowColor;
      color: white;
      justify-content: center;
      border-radius: toRem(8);
      &::before {
        color: white;
      }
      &:hover {
        transform: scale(1.01);
      }
    }
  }
}

.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
}
//========================main=================

.main {
  // .main__container
  &__container {
    padding-bottom: toRem(120);
    max-width: toRem(1100);
  }
  // .main__title

  &__title {
    font-weight: 600;
    font-size: toRem(40);
    line-height: 1.2;
    margin-bottom: toRem(30);
    @media (max-width: toEm(767.98)) {
      font-size: toRem(30);
    }
  }

  // .main__wrapper-text

  &__wrapper-text {
    position: relative;
  }

  // .main__text

  &__text {
    line-height: 1.87; /* 30/16 */
    height: toRem(267);
    overflow-y: hidden;
    transition: all 0.3s;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 60px;
      opacity: 0.8;
      background-color: $lightColor;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 30px;
      opacity: 0.7;
      background-color: $lightColor;
    }
    &.active {
      height: auto;

      &::after,
      &::before {
        display: none;
      }
      & ~ .main__button {
        transform: rotate(180deg);
        &:hover {
          transform: rotate(180deg) scale(1.2);
        }
      }
    }
  }

  // .main__button

  &__button {
    font-size: toRem(50);
    color: $yellowColor;
    position: absolute;
    bottom: toRem(-45);
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s;
    &:hover {
      transform: translateX(-50%) rotate(0deg) scale(1.2);
    }
  }
}
//========================delivery=================

.delivery {
  // .delivery__container

  &__container {
    padding-bottom: toRem(40);
  }

  // .delivery__row

  &__row {
    display: flex;
    align-items: center;
    gap: toRem(15);
    @media (max-width: toEm(1250)) {
      flex-wrap: wrap;
      justify-content: center;
    }
    @media (max-width: toEm(767.98)) {
      // flex-wrap: nowrap;
    }
  }

  // .delivery__block

  &__block {
    transition: all 0.3s;
    &:hover {
      transform: scale(1.1);
    }
  }
}
.block-delivery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: toRem(20);
  @media (max-width: toEm(767.98)) {
    max-width: toRem(200);
    flex-direction: column;
  }

  // .block-delivery__image

  &__image {
    flex: 0 0 toRem(80);
    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  // .block-delivery__text

  &__text {
    flex: 1 1 auto;
    font-size: toRem(20);
    font-weight: 600;
    line-height: 1.3; /* 28/16 */
    @media (max-width: toEm(767.98)) {
      text-align: center;
    }
  }
}
