.main-product {
  // .main-product__container

  &__container {
  }

  // .main-product__row

  &__row {
    display: flex;
  }

  // .main-product__slider

  &__slider {
    max-width: calc(50% - 30px);
  }

  // .main-product__info

  &__info {
  }
}
.main-slider {
  // .main-slider__swiper

  &__swiper {
    margin-bottom: toRem(30);
  }

  // .main-slider__swiper-wrapper

  &__swiper-wrapper {
    position: relative;
  }

  // .main-slider__swiper-slide

  &__swiper-slide {
  }

  // .main-slider__image

  &__image {
    border-radius: toRem(8);
    overflow: hidden;
    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  // .main-slider__swiper-pagination

  &__swiper-pagination {
    display: none;
    @media (max-width: toEm(767.98)) {
      display: flex;
      gap: 10px;
      justify-content: center;
      padding-top: toRem(20);
      & > span {
        width: toRem(15);
        height: toRem(15);
        border-radius: 50%;
        background-color: #ffffff;
        border: toRem(3) solid #b1b1b1;
        opacity: 1;
        z-index: 2;
      }
      & .swiper-pagination-bullet-active {
        border: toRem(3) solid #ffffff;
        background-color: #ffbc57;
      }
    }
  }

  // .main-slider__swiper-button-prev

  &__swiper-button-prev {
    position: absolute;
    z-index: 2;
    right: toRem(20);
    top: 50%;
    width: toRem(60);
    height: toRem(60);
    background-image: url(../images/main-product/arrow-left-slider.svg);
    rotate: 180deg;
    cursor: pointer;
    @media (max-width: toEm(767.98)) {
      display: none;
    }
  }

  // .main-slider__swiper-button-next

  &__swiper-button-next {
    cursor: pointer;

    position: absolute;
    z-index: 2;
    left: toRem(20);
    top: 50%;
    width: toRem(60);
    height: toRem(60);
    background-image: url(../images/main-product/arrow-left-slider.svg);
    @media (max-width: toEm(767.98)) {
      display: none;
    }
  }
  .swiper-slide-thumb-active {
    .reviews__image {
      border: toRem(3) solid $yellowColor;
      border-radius: toRem(8);
    }
  }
}
.reviews {
  // .reviews__swiper

  &__swiper {
    @media (max-width: toEm(767.98)) {
      display: none;
    }
    // width: toRem(100);
    // height: toRem(100);
  }

  // .reviews__swiper-wrapper

  &__swiper-wrapper {
  }

  // .reviews__swiper-slide

  &__swiper-slide {
  }

  // .reviews__image

  &__image {
    border-radius: toRem(8);
    overflow: hidden;
    width: toRem(100);
    height: toRem(90);
    @media (max-width: toEm(991.98)) {
      width: toRem(80);
      height: toRem(80);
    }
    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
